<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Career Designer: Discover, Learn, Act</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template-->
    
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/carousel.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/offcanvas.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
    
  </head>
  <body>
      <div class="grandParentContaniner">
  	    <div class="parentContainer">
  		    <form method="POST">

  		      <!-- Your form code will be here - start -->


            <input type="text" name="name" class="form-control" style="margin-bottom:10px" placeholder="Enter keywords or your twitter handle" required="" autofocus="" >
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

  		     <!-- Your form code will be here - End -->

  		  </form>
        </div>
      </div>
    </body>
</html>
